.dmsPage
  font-size: 20px
  font-weight: 300
  .logoBar
    height: 27px
    text-align: center
    background: white
    padding: 3px 0


  .logoBar img
    height: 100%
    width: auto
    vertical-align: initial

  .detectionColumn
    flex: 0 0 30.5%
    .content img 
      border: 1px solid grey
      border-radius: 5px
      padding: 18px 10px
      width: 132px
      margin-top: 10px

      &.head
        width: 141px
        padding: 8px 11px
      &.mouth
        padding: 18px 25px

    .movements
      padding: 16px 0
      border-bottom: 5px solid black
      .text
        flex: 0 0 34%
    
    .position
      padding: 13px 0px
      .coordinate
        *
          display: inline-block
        .cercle
          border-radius: 50%
          background-color: #9b9b9b
          height: 48px
          width: 48px
          text-align: center
          padding-top: 7px

        .value
          background-color: #9b9b9b
          font-weight: 100
          padding: 8px 22px
          margin-left: -18px
          font-size: 18px
          border-radius: 0 8px 8px
      

  .videoColumn
    flex: 0 0 23%
    img.videoImage
      height: 388px

