.contentDriving
  display: flex;
  height: 388px;
  position: fixed;
  width: 100%;

[class*="Column"]
  height: 100%
  width: 100px
  margin: auto
  flex: 2 1 auto

img.transp
  display: block
  width: 100%

/*Travel column*/
.travelColumn
  flex: 1 1 15%
  display: flex
  justify-content: space-around
  flex-flow: column nowrap
  position: relative
  .line
    height: 76%
    width: 2px
    background-image: linear-gradient(to top, transparent 50%, #223049 50%), linear-gradient(to top, #00acd7, #43debd)
    background-size: 1px 6px, 100% 100%
    border: none
    border-radius: 70%
    position: absolute
    left: 35.2%

  .travelPoint
    flex: 0 1 15%
    display: flex
    justify-content: center
    z-index: 1
    .icon
      flex: 0 1 11%
      display: flex
      img
        margin: auto
        height: 40%
    .point
      display: flex
      flex: 0 1 15%
      .dot
        border: 2px solid #43debd
        border-radius: 50%
        width: 51%
        margin: auto

    &.center .point .dot
      background-color: white
      border: none
      border-radius: 50%
      width: 25%
    &.destination .point .dot
      border: 2px solid #00acd7
      .dotinside
        background-color: #00acd7
        border-radius: 50%
        margin: 18%
    .info
      flex: 0 1 40%
      font-size: 9px
      display: flex
      flex-direction: column
      justify-content: center
      b
        font-size: 13px


/*Address column*/
.addressColumn
  flex: 1 1 22%
  flex-direction: column
  justify-content: space-between
  display: flex
  .title h1
    font-size: 31px   
    margin-top: 6%
    margin-bottom: 0

  .pathContainer
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    [class*="Address"]
      display: flex
      .icon
        flex: 0 1 10%
        display: flex
        align-items: flex-end
        justify-content: center
        img
          height: 28%;
      .address
        flex: 1 1 100%
        .label
          font-size: 9px;
          margin-top: 5%;
        .info
          margin-top: 2%;
          font-size: 13px
          font-weight: bold;
          display: inline-block;
          border-bottom: 1px solid rgba(162, 162, 162, 0.51)
    .destinationAddress
      margin-top: 10%
    .line
      height: 39%
      border: 1px dashed rgba(255, 255, 255, 0.52)
      position: absolute
      left: 16px
      bottom: 25px

  .addDestination
    margin-top: 10%
    display: flex
    justify-content: center
    .icon
      flex: 1 1 10%
      display: flex
      img
        height: 14px
        margin: auto
    .label
      flex: 1 1 100%
      font-size: 13px
  .paymentInfo
    background: white
    color: black
    font-size: 9px
    border-radius: 8px 8px 0 0
    padding: 13px 17px 15px
    font-weight: normal
    display: flex
    justify-content: space-between
    .payment
      flex: 1 1 40%
    .price
      flex: 1 1 70%
    .info
      font-weight: 600
      font-size: 13px
      margin-top: 5px


/* Map Column */
.mapColumn
  display: flex
  flex: 1 1 38%
  font-size: 15px
  > *
  .durationColumn
    flex: 0 1 20%
    text-align: right
    .duration
      margin-top: 25%
      .value
        display: flex
        align-items: baseline
        justify-content: flex-end;
        .number
          font-size: 30px
          font-weight: bold
          margin-right: 5%

  .mapContainerColumn
    flex: 0 1 70%
    display: flex
    position: relative

    .stroke1
      width: 93%
      height: auto
      border: solid 1px #ffffff
      border-radius: 43%
      margin: auto
      -webkit-animation: turnrigth linear 15s infinite;
      // display: inline-table

      .slime
        width: 95%
        background-image: linear-gradient(116deg, #9007c5, #00acd6 22%, #42ddbc 81%)
        border-radius: 42%
        margin-left: 3%

        .slime1
          width: 92%
          transform: rotate(-293deg)
          background-image: linear-gradient(#9007c5, #00acd6 35%, #42ddbc 80%)
          border-radius: 40%
          display: inline-block
          margin-left: 4%
          margin-top: -1%
          -webkit-animation: turnleft linear 7s infinite, sizeBig linear 2s infinite;

          .stroke
            width: 111%
            transform: rotate(250deg)
            border: solid 0.5px #ffffff
            border-radius: 44%
            margin-left: -4%
            margin-top: -1%

    .googleMapDriving
      width: 290px;
      height: 290px;
      left: 8%;
      top: 13%;
      display: grid
      position: absolute
      z-index: 2
      .vue-map-container
        .vue-map
          border-radius: 50%


  .distanceColumn
    flex: 0 1 42%
    display: flex
    flex-direction: column
    justify-content: space-between
    .distance
      margin-top: 11%;
      .value
        display: flex
        align-items: baseline
        .number
          font-size: 30px
          font-weight: bold
          margin-right: 5%

    .footprint
      display: flex
      flex-direction: column
      margin-bottom: 15%
      .text
      .info
        display: flex
        justify-content: flex-start
        align-items: baseline
        .number
          font-size: 30px
          font-weight: bold
          margin-right: 4%
        .unit
          font-size: 20px
          margin-right: 7%
        .icon
          img
            width: 12px


.buttonColumn
  flex: 1 1 32%
  display: flex
  flex-direction: column
  justify-content: space-around
  margin-right: 5%
  .modeButtons
    display: flex
    justify-content: center
    .button
      width: 19%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-left: 20px
      .roundedButton
        border: 1px solid gray
        width: 80%
        margin-bottom: 8%
        .icon
          position: relative
          img.image
            position: absolute
            top: 18%
            left: 25%
            width: 56%
            border-radius: 0

      .text
        text-align: center
        font-size: 75%

      &.showroom
        .roundedButton
          border: 2px solid white
          .icon img.image      
            top: 29px
            left: 23px
            width: 35px

      &:first-child
        margin-left: 0

      &.manual .roundedButton .icon
        img.image
          width: 43%
          top: 27%
          left: 28%



      &.active
        .icon
          background-image: linear-gradient(to right, #00acd6, #42ddbc)

      *
        border-radius: 50%

  .goButton
    text-align: center

    .stroke1
      width: 323px
      height: 66px
      display: inline-block
      border: 1px solid gray
      border-radius: 35px
      padding-top: 1px
      transform: rotate(-1deg)

      .stroke2
        width: 98%
        height: 100%
        display: inline-block
        border: 1px solid gray
        border-radius: 32px
        padding-top: 2px
        transform: rotate(2deg)

        a.button
          padding: 10px 83px
          color: white
          text-decoration: none
          font-weight: 500
          font-size: 24px
          display: inline-block
          border-radius: 35px
          background-image: linear-gradient(to right, #00acd6, #42ddbc)
          transform: rotate(-1deg)

  .acceptCheck
    display: flex
    justify-content: space-around
    .icon
      flex: 0 1 5%
      justify-content: center
      margin: 0 20px 0 95px
      border-radius: 50%
      .dot
        height: 25px
        width: 25px
        border: 2px solid white
        display: flex
        border-radius: 50%
        .dotinside
          height: 15px
          width: 15px
          background-image: linear-gradient(to right, #00acd6, #42ddbc)
          border-radius: 50%
          margin: auto
    .text
      div
        font-size: 12px
        width: 85%

