.content
  display: flex;
  height: 288px;
  position: fixed;
  width: 100%;

[class*="Column"]
  height: 100%
  width: 100px
  margin: auto
  flex: 2 1 auto

img.transp
  display: block
  width: 100%

/*Travel column*/
.travelColumn
  flex: 1 1 15%
  display: flex
  justify-content: space-around
  flex-flow: column nowrap
  position: relative
  .line
    height: 76%
    width: 2px
    background-image: linear-gradient(to top, transparent 50%, #223049 50%), linear-gradient(to top, #00acd7, #43debd)
    background-size: 1px 6px, 100% 100%
    border: none
    border-radius: 70%
    position: absolute
    left: 35.2%

  .travelPoint
    flex: 0 1 15%
    display: flex
    justify-content: center
    z-index: 1
    .icon
      flex: 0 1 11%
      display: flex
      img
        margin: auto
        height: 40%
    .point
      display: flex
      flex: 0 1 15%
      .dot
        border: 2px solid #43debd
        border-radius: 50%
        width: 40%
        margin: auto
        
    &.center .point .dot
      background-color: white
      border: none
      border-radius: 50%
      width: 25%
    &.destination .point .dot
      border: 2px solid #00acd7
      .dotinside
        background-color: #00acd7
        border-radius: 50%
        margin: 18%
    .info
      flex: 0 1 40%
      font-size: 50%


/*Address column*/
.addressColumn
  flex: 1 1 22%
  .title h1
    font-size: 1.5em
    font-family: ralewaylight, Helvetica, Arial, sans-serif
  .pathContainer
    [class*="Address"]
      display: flex
      font-size: 90%
      .icon
        flex: 0 1 10%
        display: flex
        align-items: flex-end
        justify-content: center
        img
          height: 28%;
      .address
        flex: 1 1 100%
        .label
          font-size: 55%;
          margin-top: 7%;
        .info
          margin-top: 2%;
          font-weight: bold;
          display: inline-block;
          border-bottom: 1px solid rgba(162, 162, 162, 0.51);
    .destinationAddress
      margin-top: 5%;
  .addDestination
    margin-top: 5%
    font-size: 80%


/* Map Column */
.mapColumn
  display: flex
  flex: 1 1 38%
  > *
  .durationColumn
    flex: 0 1 20%
    text-align: right
    .duration
      margin-top: 25%
      .value
        display: flex
        align-items: baseline
        justify-content: flex-end;
        .number 
          font-size: 2em
          font-weight: bold
          margin-right: 5%

  .mapContainerColumn
    flex: 0 1 80%
    display: flex

    .stroke1
      width: 94%
      height: auto
      border: solid 1px #ffffff
      border-radius: 43%
      margin: auto
      display: inline-table

      .slime
        width: 95%
        background-image: linear-gradient(116deg, #9007c5, #00acd6 22%, #42ddbc 81%)
        border-radius: 42%
        margin-left: 3%

        .slime1
          width: 92%
          transform: rotate(-293deg)
          background-image: linear-gradient(#9007c5, #00acd6 35%, #42ddbc 80%)
          border-radius: 40%
          display: inline-block
          margin-left: 4%
          margin-top: -1%

          .stroke
            width: 111%
            transform: rotate(250deg)
            border: solid 0.5px #ffffff
            border-radius: 44%
            margin-left: -4%
            margin-top: -1%            

  .distanceColumn 
    flex: 0 1 42%
    display: flex
    flex-direction: column
    justify-content: space-between
    .distance
      margin-top: 11%;
      .value
        display: flex
        align-items: baseline
        .number
          font-size: 2em              
          font-weight: bold
          margin-right: 5%

    .footprint
      display: flex
      flex-direction: column
      margin-bottom: 15%
      .text
        font-size: 81%
      .info
        display: flex
        justify-content: flex-start
        align-items: baseline
        .number
          font-size: 183%
          font-weight: bold
          margin-right: 4%
        .unit
          font-size: 114%
          margin-right: 7%
        .icon 
          font-size: 81%
          img
            width: 40%





.buttonColumn
  flex: 1 1 32%
  display: flex
  flex-direction: column
  justify-content: space-around
  margin-right: 5%
  .modeButtons 
    display: flex
    justify-content: center
    .button
      width: 18%
      .rounded
        border: 1px solid gray
        .icon
          position: relative
          img.image
            position: absolute
            top: 18%
            left: 25%
            width: 56%
            border-radius: 0

      &:first-child
        margin-right: 12%

      &.manual
        img.image
          width: 43%
          top: 27%
          left: 28%

      &.active
        .icon
          background-image: linear-gradient(to right, #00acd6, #42ddbc)

      *
        border-radius: 50%




