body {
  font-family: raleway, Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  font-weight: 100;
  /*width: 1920px;
  height: 388px*/
}
h1 {
  font-weight: normal;
}
strong {
  font-weight: 500;
}

/*
em, cite, blockquote {
font-style: italic}*/

#background_video {
    position: fixed;

    width: 100%;
}

@keyframes myturn {
    0%   {transform: rotate(0deg) skewX(0deg);}
    100% {transform: rotate(-360deg) skewX(0deg);}
}
